/* Flexible grid system by Michowski (www.michowski.com) */
.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto; }

.row_reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.col, [class*='col-'] {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  max-width: 100%;
  padding: 0 10px; }

.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }

.dsp-none {
  display: none; }

.dsp-block {
  display: block; }

.dsp-inline {
  display: inline; }

.dsp-inline-block {
  display: inline-block; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.big-text {
  font-size: 200%; }

.col-1 {
  -webkit-flex-basis: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.offset-1 {
  margin-left: 8.33333%; }

.col-2 {
  -webkit-flex-basis: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.offset-2 {
  margin-left: 16.66667%; }

.col-3 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.offset-3 {
  margin-left: 25%; }

.col-4 {
  -webkit-flex-basis: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.offset-4 {
  margin-left: 33.33333%; }

.col-5 {
  -webkit-flex-basis: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.offset-5 {
  margin-left: 41.66667%; }

.col-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.offset-6 {
  margin-left: 50%; }

.col-7 {
  -webkit-flex-basis: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.offset-7 {
  margin-left: 58.33333%; }

.col-8 {
  -webkit-flex-basis: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.offset-8 {
  margin-left: 66.66667%; }

.col-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.offset-9 {
  margin-left: 75%; }

.col-10 {
  -webkit-flex-basis: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.offset-10 {
  margin-left: 83.33333%; }

.col-11 {
  -webkit-flex-basis: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.offset-11 {
  margin-left: 91.66667%; }

.col-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.offset-12 {
  margin-left: 100%; }

.col-auto {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0; }

@media (min-width: 34em) {
  .s-visible {
    visibility: visible; }

  .s-hidden {
    visibility: hidden; }

  .s-dsp-none {
    display: none; }

  .s-dsp-block {
    display: block; }

  .s-dsp-inline {
    display: inline; }

  .s-dsp-inline-block {
    display: inline-block; }

  .s-align-left {
    text-align: left; }

  .s-align-center {
    text-align: center; }

  .s-align-right {
    text-align: right; }

  .s-big-text {
    font-size: 200%; }

  .s-col-1 {
    -webkit-flex-basis: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .s-offset-1 {
    margin-left: 8.33333%; }

  .s-col-2 {
    -webkit-flex-basis: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .s-offset-2 {
    margin-left: 16.66667%; }

  .s-col-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .s-offset-3 {
    margin-left: 25%; }

  .s-col-4 {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .s-offset-4 {
    margin-left: 33.33333%; }

  .s-col-5 {
    -webkit-flex-basis: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .s-offset-5 {
    margin-left: 41.66667%; }

  .s-col-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .s-offset-6 {
    margin-left: 50%; }

  .s-col-7 {
    -webkit-flex-basis: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .s-offset-7 {
    margin-left: 58.33333%; }

  .s-col-8 {
    -webkit-flex-basis: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .s-offset-8 {
    margin-left: 66.66667%; }

  .s-col-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .s-offset-9 {
    margin-left: 75%; }

  .s-col-10 {
    -webkit-flex-basis: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .s-offset-10 {
    margin-left: 83.33333%; }

  .s-col-11 {
    -webkit-flex-basis: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .s-offset-11 {
    margin-left: 91.66667%; }

  .s-col-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .s-offset-12 {
    margin-left: 100%; }

  .s-col-auto {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0; } }
@media (min-width: 48em) {
  .m-visible {
    visibility: visible; }

  .m-hidden {
    visibility: hidden; }

  .m-dsp-none {
    display: none; }

  .m-dsp-block {
    display: block; }

  .m-dsp-inline {
    display: inline; }

  .m-dsp-inline-block {
    display: inline-block; }

  .m-align-left {
    text-align: left; }

  .m-align-center {
    text-align: center; }

  .m-align-right {
    text-align: right; }

  .m-big-text {
    font-size: 200%; }

  .m-col-1 {
    -webkit-flex-basis: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .m-offset-1 {
    margin-left: 8.33333%; }

  .m-col-2 {
    -webkit-flex-basis: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .m-offset-2 {
    margin-left: 16.66667%; }

  .m-col-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .m-offset-3 {
    margin-left: 25%; }

  .m-col-4 {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .m-offset-4 {
    margin-left: 33.33333%; }

  .m-col-5 {
    -webkit-flex-basis: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .m-offset-5 {
    margin-left: 41.66667%; }

  .m-col-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .m-offset-6 {
    margin-left: 50%; }

  .m-col-7 {
    -webkit-flex-basis: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .m-offset-7 {
    margin-left: 58.33333%; }

  .m-col-8 {
    -webkit-flex-basis: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .m-offset-8 {
    margin-left: 66.66667%; }

  .m-col-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .m-offset-9 {
    margin-left: 75%; }

  .m-col-10 {
    -webkit-flex-basis: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .m-offset-10 {
    margin-left: 83.33333%; }

  .m-col-11 {
    -webkit-flex-basis: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .m-offset-11 {
    margin-left: 91.66667%; }

  .m-col-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .m-offset-12 {
    margin-left: 100%; }

  .m-col-auto {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0; } }
@media (min-width: 62em) {
  .l-visible {
    visibility: visible; }

  .l-hidden {
    visibility: hidden; }

  .l-dsp-none {
    display: none; }

  .l-dsp-block {
    display: block; }

  .l-dsp-inline {
    display: inline; }

  .l-dsp-inline-block {
    display: inline-block; }

  .l-align-left {
    text-align: left; }

  .l-align-center {
    text-align: center; }

  .l-align-right {
    text-align: right; }

  .l-big-text {
    font-size: 200%; }

  .l-col-1 {
    -webkit-flex-basis: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .l-offset-1 {
    margin-left: 8.33333%; }

  .l-col-2 {
    -webkit-flex-basis: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .l-offset-2 {
    margin-left: 16.66667%; }

  .l-col-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .l-offset-3 {
    margin-left: 25%; }

  .l-col-4 {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .l-offset-4 {
    margin-left: 33.33333%; }

  .l-col-5 {
    -webkit-flex-basis: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .l-offset-5 {
    margin-left: 41.66667%; }

  .l-col-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .l-offset-6 {
    margin-left: 50%; }

  .l-col-7 {
    -webkit-flex-basis: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .l-offset-7 {
    margin-left: 58.33333%; }

  .l-col-8 {
    -webkit-flex-basis: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .l-offset-8 {
    margin-left: 66.66667%; }

  .l-col-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .l-offset-9 {
    margin-left: 75%; }

  .l-col-10 {
    -webkit-flex-basis: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .l-offset-10 {
    margin-left: 83.33333%; }

  .l-col-11 {
    -webkit-flex-basis: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .l-offset-11 {
    margin-left: 91.66667%; }

  .l-col-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .l-offset-12 {
    margin-left: 100%; }

  .l-col-auto {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0; } }
@media (min-width: 75em) {
  .xl-visible {
    visibility: visible; }

  .xl-hidden {
    visibility: hidden; }

  .xl-dsp-none {
    display: none; }

  .xl-dsp-block {
    display: block; }

  .xl-dsp-inline {
    display: inline; }

  .xl-dsp-inline-block {
    display: inline-block; }

  .xl-align-left {
    text-align: left; }

  .xl-align-center {
    text-align: center; }

  .xl-align-right {
    text-align: right; }

  .xl-big-text {
    font-size: 200%; }

  .xl-col-1 {
    -webkit-flex-basis: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .xl-offset-1 {
    margin-left: 8.33333%; }

  .xl-col-2 {
    -webkit-flex-basis: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .xl-offset-2 {
    margin-left: 16.66667%; }

  .xl-col-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }

  .xl-offset-3 {
    margin-left: 25%; }

  .xl-col-4 {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .xl-offset-4 {
    margin-left: 33.33333%; }

  .xl-col-5 {
    -webkit-flex-basis: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .xl-offset-5 {
    margin-left: 41.66667%; }

  .xl-col-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }

  .xl-offset-6 {
    margin-left: 50%; }

  .xl-col-7 {
    -webkit-flex-basis: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .xl-offset-7 {
    margin-left: 58.33333%; }

  .xl-col-8 {
    -webkit-flex-basis: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .xl-offset-8 {
    margin-left: 66.66667%; }

  .xl-col-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }

  .xl-offset-9 {
    margin-left: 75%; }

  .xl-col-10 {
    -webkit-flex-basis: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .xl-offset-10 {
    margin-left: 83.33333%; }

  .xl-col-11 {
    -webkit-flex-basis: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .xl-offset-11 {
    margin-left: 91.66667%; }

  .xl-col-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .xl-offset-12 {
    margin-left: 100%; }

  .xl-col-auto {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0; } }
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: white; }
  @media (max-width: 33.99em) {
    body {
      font-size: 90%; } }
  @media (max-width: -0.01em) {
    body {
      font-size: 80%; } }

.row {
  padding: 10px 0; }

.col_40 {
  width: 40%; }

.col_60 {
  width: 60%; }

.col_200px {
  width: 200px; }

.box {
  padding: 20px;
  background: #197185;
  font-size: 1em;
  color: white; }

.box .box {
  background: #07485E; }

.wrap {
  margin: auto;
  padding: 10px 0;
  max-width: 1000px; }

/* Less important part */
h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #07485E;
  font-size: 3em; }

h2 {
  margin: 0;
  margin-top: 10px;
  font-size: 1.5em; }

a {
  color: #07485E;
  text-decoration: none; }
  a:hover {
    color: white;
    background: #07485E; }

/*# sourceMappingURL=test.css.map */
